body {
margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #5e81a5;
}

.sidebar {
  width: 220px;
  height: 100vh;
background: #0a2540;
color: white;
position: fixed;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}